<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navjot.deepak.manpreet.pdfsociety">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SignIn" />
        <activity android:name=".Activities.SignUp" />
        <activity android:name=".Activities.FeedbackActivity" />

        <service
            android:name=".Services.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NavDrawer.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Services.MyBaseTaskService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.UploadPdfActivity" />

        <service
            android:name=".Services.MyUploadService"
            android:enabled="true"
            android:exported="false" />
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.PdfDetailActivity"></activity>
    </application>

</manifest>