<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navjot.deepak.manpreet.pdfsociety">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SignIn"
            android:label="PDF Society"/>
        <activity android:name=".Activities.SignUp"
            android:label="PDF Society"/>
        <activity android:name=".Activities.FeedbackActivity"
            android:label="Feedback"/>

        <service
            android:name=".Services.MyFirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NavDrawer.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="PDF Society"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Services.MyBaseTaskService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.UploadPdfActivity"
            android:label="Upload"/>

        <service
            android:name=".Services.MyUploadService"
            android:enabled="true"
            android:exported="false" />
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.PdfDetailActivity"
            android:label="Description"/>
        <activity android:name=".Activities.UserDetailActivity"
            android:label="User"></activity>
    </application>

</manifest>